<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <price>
                    <fields>
                        <scope translate="label comment">
                            <label>Catalog Price Scope</label>
                            <comment><![CDATA[Defines the base currency scope ("Currency Setup" > "Currency Options" > "Base Currency")]]>.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_price_scope</source_model>
                            <backend_model>adminhtml/system_config_backend_price_scope</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </scope>
                        <belvg_render_price translate="label comment">
                            <label>Show "You Save" with the discount</label>
                            <comment><![CDATA[Set option "You Save" with the discount for product special price]]>.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </belvg_render_price>
                    </fields>
                </price>
            </groups>
        </catalog>
    </sections>
</config>
